@charset "utf-8";
/* CSS Document */


.cf:after   {
	     content:"";
	  display:block;
	  clear:both;	
	    }

.dn	{
	display:none;
}


/* Wenフォント */
/* IE */
@font-face {
font-family: PoiretOne-Regular;
src: url(../font/PoiretOne-Regular.eot);
}
/* Firefox, Opera, Safari */
@font-face {
font-family: PoiretOne-Regular;
src: url(../font/PoiretOne-Regular.ttf) format("truetype");
}

body	{
	background-color:#CCCCCC;
	font-family: PoiretOne-Regular, sans-serif;
}


/*ヘッダー*/

header	{
	background-color:#6A3906;
	width:900px;
	height:60px;	
	margin:0 auto;
}

h1	{
	float:leht;
	padding-top: 12px;
	margin-left:15px;
}

#mark	{
	float:left;
}

#mark img	{
	width: 35px;
	height: auto;
	padding-right:5px;
}


#logo	{
	float:left;
}

#logo img	{
	width:	100px;
	height:auto;
	margin-bottom:2px;
}


h1 figcaption	{
	font-size:12px;
}

h1 a {
		   text-decoration:none;
	color:	#FFF;
}


#mainWrap	{
	display:none;
}

/*メニュー*/

#build-menu	{
	width:900px;
	margin:0 auto;
}

.mobile-nav-0 	{
	float:right;
	line-height:60px;
	margin-right:15px;
	}


.mobile-nav-0 li	{
	float:left;
	margin-left:25px;
	font-weight:bold;
	letter-spacing:0.1em;
	font-size:12px;
	text-shadow: 1px 1px 1px #000;  
	}


.mobile-nav-0 a	{
	color:#fff;
   text-decoration:none;
}

.mobile-nav-0 span	{
	display:none;
}


/*スライダー*/

#slider	{
	width:800px;
	height:auto;
	margin:0 auto;
	position:relative;
}

#slider3 img	{
	width:100%;
	height:auto;
	margin: 0 auto;
}


#za-zen_tate img	{
	position:absolute;
	top:120px;
	left:580px;
	width:150px;
	height:auto;
}

/*アーティクル*/

article	{
	background-color:#FFF;
	height:100%;
	width:900px;
	margin:0 auto;
}

.wrapper {
	width: 760px;
	margin:0 auto ;
}

h2	{
	font-weight:bold;
	letter-spacing:0.1em;
	font-size:26px;
	color:#6A3906;
	padding-bottom:20px;
}


h2	span	{
	font-size:14px;
	color:#C79F62;
	padding-left:6px;
}

/*エントリーリスト*/
.entry_list,
.pickup_list
	{
	border-top:#6A3906 solid 1px;
	padding-top: 20px;
	padding-bottom: 20px;
	}
	
#inner_wrapper	{
	width:600px;
	margin:0 auto;
}

.pickup_icon,
.top_icon	{
	float:left;
	width:60px;
	height:auto;
}

.pickup_icon img,
.top_icon img	{
	width:60px;
	height:auto;
}

.entry_list	dl {
	float:right;
	width:520px;
	height:auto;
}

.entry_list	dt {
	color:#6A3906;
	font-size: 12px;
	margin-bottom:10px;
}

.entry_list	dd a  {
	font-size:14px;
	color: #333;
}

.kako	{
	text-align: right;
	padding-top:10px;
	padding-bottom:40px;
}

.kako a	{
	color: #333;
	font-size:12px;
}


/*パンクズ*/
#pankuzu	{
	font-size:12px;
	margin-bottom:20px;
	padding-top:20px;
}

#pankuzu li	{
	float:left;
}

#pankuzu li a	{
	color:#333;
}

#pankuzu span	{
	float:left;
	margin:0 5px
}


/*メンズサブメニュー*/
.mens			{
	padding-bottom:20px;
	width:230px;
	float:left;
}

.mens li	{
	margin-bottom:	5px;
}

.mens_icon a:hover　{
	opacity:0.8;
}

#mens_submenu	{
	flat:left;
}

.mens_icon	{
	background-color:#C79F62;
	height:60px;
}

.mens_icon figure img{
	float:left;
	padding:10px;
	margin-right:5px;
	width:40px;
	height:auto;
}


.mens_icon figcaption{
	font-size:14px;
	text-align:left;
	line-height:60px;
	color:#6A3906;
	font-weight:bold;
}

.mens_icon figcaption span	{
	letter-spacing:0.1em;
	font-size:22px;
	margin-right:14px;
	color:#FFFFFF;
	text-shadow: 1px 1px 1px #000;
}

.mens_icon a{
	text-decoration:none;
}

#mens_open	{
	height:40px;
	background-color:#D3CC40;
	margin-bottom:30px;
}

#mens_open a	{
	padding-right:15px;
	line-height:40px;
	text-align:right;
	color:#6A3906;
	font-size:12px;
	display:block;
}

#mens_open span	{
	padding-left:3px;
	}

/*メイン記事*/

.main	{
	float:right;
	width:470px;
}

h3	{
	letter-spacing:0.1em;
	font-size:22px;
	color:#6A3906;
	font-weight:bold;
	margin-bottom:5px;
}

h3 span	{
	font-size:16px;
	color:#C79F62;
	padding-left:6px;
}

#narabi 	{
	float: right;
	color:#333333;
	font-size:12px;
	margin-top:12px;
	margin-bottom:10px;
	}

#narabi dt	{
	float:left;
	margin-right:5px;
	font-size:12px;
}

#narabi dd	{
	float:left;
	font-size:12px;
}


/*ピックアップ*/
.pickup_icon	{
	border:#D3CC40 solid 1px;
	margin-right:15px;
}


.pickup_list dt {
	margin-bottom:3px;
}

.pickup_list dt a	{
	font-size:12px;
	font-weight:bold;
	color:#333333;
}

.pickup_list dd a	{
	font-size:12px;
	color:#333333;
}


/*スーツフォーム*/
#suit_search	{
	height:	40px;
	line-height:40px;
	border-top:#C79F62 solid 1px;;
	font-size:12px;
}

#suit_search dt	{
	float:left;
	margin-right:5px;
	font-weight:bold;
	padding-left:10px;
}

#suit_search dd	{
	float:right;
	padding-right:10px;
}
	
	
/*商品ページスライダー*/

.bxslider1 img	{
	width:100%;
	height:auto;
	text-align:center;
}

#bushido .bx-wrapper	{
	margin-bottom: 10px;
}

#bx-pager {
    display: table;
    width: 100%;
	margin-bottom:20px;
}
#bx-pager > a {
    display: table-cell;
    border: 5px solid transparent;
}
#bx-pager img {
	border:#D3CC40 solid 1px;
    display: block;
    width: 100%; 
	height:auto;
}


/*商品名*/

#item_name	{
	border-bottom:#6A3906 solid 1px;
	padding-bottom:15px;
}

h3	{
	font-size:16px;
	color:#6A3906;
	font-weight:bold;
	margin-bottom:5px;
}

h3 span	{
	font-size:12px;
	color:#C79F62;
	padding-left:6px;
}
	
#item_number	{
	font-size:10px;
	color:#C79F62;
	margin-bottom:15px;
}

#price	{
	font-size:20px;
	color:#E50012;
	font-weight:bold;
}

#price span	{
	font-size:12px;
	color:#333;
}


/*オプション選択*/

#select	{
	margin-top:15px;
	font-size:12px;
	margin-bottom:10px;
}

#select	a	{
	color:#333333;
}

#select	p	{
	text-align:right;
}


#option	th	{
	text-align: left;
	font-weight:bold;
	height:25px;
}

#cart	{
	height:40px;
	background-color:#D3CC40;
	line-height:40px;
	text-align:center;
	border-radius:7px;
	border:#C79F62 solid 2px;
}

#cart span	{
	margin-right:10px;
}

#cart a	{
	color:#6A3906;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}

/*商品説明*/

#details {
	margin:15px 0;
	border-top:#C79F62 dotted 1px;
	border-bottom:#C79F62 dotted 1px;
}

h4	{
	letter-spacing:0.1em;
	font-size:14px;
	font-weight: bold;
	line-height:2em;
	color:#6A3906;
	border-bottom:#C79F62 dotted 1px;
}

#details	p	{
	font-size:12px;
	line-height:1.5em;
	margin:5px 0;
}



/*ページトップ*/

#pageTop{
	position:fixed;
	bottom:10%;
	right:10%;
	}

#pageTop:hover{
	opacity: 0.8;
	}

/*フッター*/

footer {
	background: #6A3906;
	text-align: center;
	color: #fff;
	width:900px;
	height: 35px;
	font-size: 12px;
	line-height: 35px;
	margin:0 auto;
	text-shadow: 1px 1px 1px #000;  
}
